.pictureCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: red;
  margin: 0.5rem;
  overflow: hidden;
  border-radius: 5px;
}

.pictureCard img {
    overflow: hidden;
}

.pictureCard:hover img {
    transform: scale(150%);
}

